name: Makefile CI - Push

on:
  push:
    branches: [ "main" ]

jobs:
  push:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.push.base_ref }}
        fetch-depth: 0

    - name: Push artifact
      run: make push
